@import '../../shared/styles.scss';


.info{
  margin: 2em;
  &__title{
    color: $vivid-orange;
    font-family: $sans-serif;
  }
  &__subtitle{
    color: $vivid-light-blue;
    font-family: $sans-serif-secondary;
  }
  &__text{
    color:white;
    font-family: $sans-serif-secondary;
  }
}