 @import '../../shared/styles.scss';


 .item{
   &__container{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     background-color:$opaque-lightViolet;
     border-radius: 20px;
     border: 1px solid $opaque-lightViolet;
     margin: 1em;
     box-sizing: border-box;
   }
   &__image{
     margin:1em;
   }
   &__text{
     margin: 0 1em;

     &--title{
       color: $vivid-orange;
       font-family: $sans-serif-secondary;
     }
     &--subtitle{
      font-family: $sans-serif-secondary;
    }
   }
 }