 @import '../../shared/styles.scss';

 .holder__container{
  width: 100%;
  color:white;
}

 .item{
   margin: 0 1em;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   border : 1px solid $vivid-light-blue;
   margin: 1em;
   &__image{
     padding:.5em;
     width: 100%;
     object-fit: cover;
     box-sizing: border-box;
   }
   &__iframe{
     width: 100%;
     box-sizing: border-box;
   }
    &--title{
       color: $vivid-fuccia;
       font-family: $sans-serif-secondary;
       margin:1em;
     }
   &--subtitle{
      font-family: $sans-serif-secondary;
    }
   }

@media screen and (min-width:640px){
    .item{
      flex-direction: row;
      flex-wrap: wrap;
      width: 80%;
    }
    .holder__container{
      display: grid;
      grid-template-columns: 50% 50%;
      width: 60%;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
 