@import '../../shared/styles.scss';

.footer-container{
  text-decoration: none;
  background-color: $dark-blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 2em;
  box-sizing: border-box;
  width: 100%;
  color: $vivid-light-blue;

  .footer__link{
    text-decoration: none;
    margin:1em;
    color: $vivid-orange;
  }
}
