@import '../../shared/styles.scss';

.search{
  display: flex;
  border: 2px solid $vivid-fuccia;
  border-radius: 10px;

  &__image{
    width: 10px;
    fill:white;
  }
  
  &__input{
    padding: .5em;
    width: 80%;
    text-align: center;
    justify-content: center;
    font-family: $sans-serif-secondary;
    background-color: transparent;
    color: $vivid-fuccia;
    border: 0px solid transparent;
    border-radius: 0 10px 10px 0;
  }
  
  &__button{
    background-image: url('./icons8-google-web-search-24.png');
    background-size: contain;
    color: transparent;
    width: 20%;
    background-color: transparent;
    border: 0px solid transparent;
    background-repeat: no-repeat;
  }
}


